html {
  font-family: 'Rokkitt', serif;
  font-weight: 300;
}

h1 {
  font-weight: 100;
}

h3 {
  font-weight: 100;
}

p {
  font-weight: 100;
}

a {
  color: black;
}

#social-icons {
  margin-top: 2em;
}

#social-icons img {
  margin: 0 0.5em;
}

#container {
  max-width: 400px;
  text-align: center;
  margin: 0 auto;
}

.img-rounded {
  border-radius: 100px;
}
