html {
  font-family: 'Rokkitt', serif;
  font-weight: 300;
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, p, span, a {
  font-weight: 100;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.0em;
}

a {
  color: black;
}

p {
  font-size: 0.9em;
}

nav {
  padding: 1em;
  background: #f2f2f2;
}

nav a {
  margin-left: 1.0em;
}

#social-icons {
  margin-top: 2em;
}

#social-icons img {
  margin: 0 0.5em;
}

#container {
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
}

.img-rounded {
  border-radius: 100px;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.bottom-border-line {
  padding-bottom: 2em;
  border-bottom: 1px solid #ddd;
}

.italic {
  font-style: italic;
}

.spacing-bottom-0 {
  margin-bottom: 0.2em;
}