html {
  font-family: 'Rokkitt', serif;
  font-weight: 300;
  font-size: 1.1em;
}

h1, h2, h3, h4, h5, p, span, a {
  font-weight: 100;
}

h3 {
  font-size: 1.4em;
}

h4 {
  font-size: 1.2em;
}

h5 {
  font-size: 1.0em;
}

a {
  color: black;
}

p {
  font-size: 0.9em;
}

nav {
  padding: 1em;
  background: #f2f2f2;
  font-size: 0.9em;
}

nav a {
  margin-left: 1.0em;
}

#social-icons {
  margin-top: 2em;
}

#social-icons img {
  margin: 0 0.5em;
}

#container {
  max-width: 400px;
  margin: 0 auto;
  padding: 1em;
}

.button {
  text-decoration: none;
  padding: 0.25em 0.5em;
  background-color: #ddd;
  display: inline-block;
  border: 1px solid #ccc;
}

.img-rounded {
  border-radius: 100px;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.bottom-border-line {
  padding-bottom: 2em;
  border-bottom: 1px solid #ddd;
}

.italic {
  font-style: italic;
}

.underline {
  text-decoration: underline;
}

.spacing-bottom-0 {
  margin-bottom: 0.2em;
}

.spacing-bottom-1 {
  margin-bottom: 1em;
}

.spacing-top-0 {
  margin-top: 0.2em;
}

.spacing-top-1 {
  margin-top: 1em;
}

.rows > div {
  padding: 0.1em 0.25em;
  margin-bottom: 0.5em;
  padding-bottom: 0.5em;
  border-bottom: 1px solid #eee;
}

.header-with-image {
  margin-bottom: 1em;
}

.header-with-image h4 {
  display: inline-block;
}

.header-with-image img {
  vertical-align: middle;
  margin-right: 0.5em;
}

.full-width {
  width: 100%;
}
