#revue-embed
  text-align: center
  background: #f8f8f8
  padding: 1em
  border: 1px dotted #ddd
  form
    margin-top: 1em
  span
    font-style: italic
    font-size: 0.75em
  a
    font-size: 0.85em
    font-weight: bold