.blog-post-comments
    margin-top: 2rem

    .blog-post-comment-button
        display: block
        text-align: center
        border: 1px solid black
        padding: 0.7em 1em
        margin-bottom: 3em
